*{
    padding: 0;
    margin: 0;
}

/* Cadastrar Vinho */

.p-b-100{
    padding-bottom: 100px;
}

.p-t-100{
    padding-top: 100px;
}

.bg-wine{
    background: rgb(145, 12, 52);
}

.page-wrapper{
    min-height: 100vh;
}

.font-robo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper--w680{
    max-width: 680px;
}

.wrapper{
    margin: 0 auto;
}

.card-1{
    box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
}

.card{
    overflow: hidden;
    border-radius: 3px;
    background: #FFF;
}

.card-1 .card-heading{
    background: url(../img/adega.jpg) center center/cover no-repeat;
    padding-top: 210px;
}

.card-1 .card-body{
    padding: 0 90px;
    padding-top: 55px;
    padding-bottom: 65px;
}

.title{
    margin-bottom: 37px;
}

h2{
    font-size: 30px;
}

h1, h2, h3{
    font-weight: 400px;
}

form{
    display: block;
}

/* inputs */

.input-group{
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #CCC;
}

.input--style-1{
    padding: 9px 0;
    color: #666;
}

input{
    outline: none;
    margin: 0;
    border: 0;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
}

.row-space{
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-2{
    width: calc((100% - 60px)/2);
}

.p-t-20{
    padding-top: 20px;
}

.btn--wine{
    background: rgb(145, 12, 52);
}

.btn--wine2{
    background: rgb(247, 131, 166);
}

.btn--wine2:hover{
    background: rgb(165, 29, 70);
}

.btn--wine:hover{
    background: rgb(207, 121, 147);
    color: #FFF;
}

.btn--radius{
    border-radius: 3px;
}

.btn{
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFF;
    transition: all .4s ease;
    font-size: 14px;
    font-weight: 700;
}

button{
    outline: none;
    border: none;
}

/*  INDEX */

.logo{
    width: 100px;
    height: 100px;
}

.ftco-section{
    padding: 7em 0;
}

section{
    display: block;
}

.justify-content-center{
    -webkit-box-pack: center !important;
    justify-content: center !important;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center{
    text-align: center !important;
}

.mb-4{
    margin-bottom: 1.5rem !important;
}

.col-md-6{
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
    
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.heading-section{
    font-size: 28px;
    color: #000;
}

.col-md-12{
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
}

.table-wraap{
    overflow-x: scroll;
}

.table{
    min-width: 1000px !important;
    width: 100%;
    background: #FFF;
    box-shadow: 0px 5px 12px -12px rgb(0, 0, 0 / 29%);
    color: #212529;
    margin-bottom: 1rem;
}

table{
    border-collapse: collapse;
}

.table thead.thead-primary{
    background: rgb(145, 12, 52);
    color: #FFF;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table tbody tr{
    margin-bottom: 10px;
}

.foto_wines{
    width: 150px;
    height: 190px;

    border-radius: 50% 50% 50% 50% / 51% 50% 50% 49%  ;
}

.foto_wines:hover{
    width: 150px;
    height: 190px;

    border-radius: 50% 50% 50% 50% / 51% 50% 50% 49%  ;
    transform: rotate(45deg);
    transition-duration: 0.5s;

}

.table tbody th, .table tbody td{
    border: none;
    padding: 30px;
    font-size: 14px;
    background: #FFF;
    border-bottom: 4px solid #f8f9fd;
    vertical-align: middle;
}